name: size
on: [pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 22.21.1
    - name: Update npm
      run: |
        npm install -g npm
        npm --version
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: preactjs/compressed-size-action@946a292cd35bd1088e0d7eb92b69d1a8d5b5d76a # 2.8.0
      with:
        pattern: 'build/*.js'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        strip-hash: "\\b\\w{5}\\."
