name: size
on: [pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 24.13.0
    - name: Update npm
      run: |
        npm install -g npm
        npm --version
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: preactjs/compressed-size-action@8518045ed95e94e971b83333085e1cb99aa18aa8 # 2.9.0
      with:
        pattern: 'build/*.js'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        strip-hash: "\\b\\w{5}\\."
