name: size
on: [pull_request]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: 24.12.0
    - name: Update npm
      run: |
        npm install -g npm
        npm --version
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: preactjs/compressed-size-action@8518045ed95e94e971b83333085e1cb99aa18aa8 # 2.9.0
      with:
        pattern: 'build/*.js'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        strip-hash: "\\b\\w{5}\\."
